body {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
}

section {
    background-color: rgb(109, 95, 35);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}